.resultado-calculo-imc {
  margin-top: 30px;
  background-color: #e6e6e6;
  padding: 20px 25px;
  max-width: 600px;

  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.resultado-calculo-imc__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.resultado-calculo-imc__nombre {
  font-weight: 600;
  margin-bottom: 5px;
}

.resultado-calculo-imc__imc {
  margin-bottom: 8px;
}

.resultado-calculo-imc__categoria {
  font-weight: 700;
}
