.aside_info_personas {
    background-color: rgba(192, 192, 192, 0.418);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    border-radius: 15px;
}

.aside_info_personas__elegir__persona {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.aside_info_personas__elegir__persona__boton {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}