.form-calculadora-imc__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: rgba(128, 128, 128, 0.315);
  padding: 20px;
}

.form-calculadora-imc__resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.form-calculadora-imc {
  background-color: #f3f3f3;
  padding: 40px;
  border-radius: 4px;

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.08),
    0 6px 12px rgba(0, 0, 0, 0.06);
}

.form-calculadora-imc__title {
  color: black;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.form-calculadora-imc__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-calculadora-imc__label {
  color: black;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-calculadora-imc__input {
  height: 40px;
  padding: 8px 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.form-calculadora-imc__button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(128, 128, 128, 0.315);;
  border: none;
  font-weight: 600;
  cursor: pointer;

  box-shadow:
    0 2px 3px rgba(0, 0, 0, 0.15);

  transition:
    box-shadow 0.2s ease,
    transform 0.1s ease;
}

.form-calculadora-imc__button:hover {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.18);
}

.form-calculadora-imc__button:active {
  transform: translateY(1px);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.2);
}
