.imc-page {
  width: 90%;
  margin: 0 auto;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imc-page h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.imc-page p {
  max-width: 1100px;
  color: #444;
  line-height: 1.7;
  margin-bottom: 30px;
}
